.cards__list{
max-width: 880px;
margin-left: auto;
margin-right: auto;
margin-top: 50px;
display: grid;
grid-template-rows: repeat(2, 1fr);
grid-template-columns: repeat(3, 1fr);
gap: 17px;
}

.card{
width: 282px;
height: 361px;
padding: 0;
display: flex;
border: none;
flex-wrap: wrap;
position: relative;
justify-content: flex-start;
align-items: flex-start;
flex-direction: column;
background-color: white;
border-radius: 10px;
border: none;
outline: none;
overflow: hidden;
}

.card__image{
width: 282px;
height: 282px;
object-fit: cover;
border: none;
outline: none;
background: transparent;
}

.card__title{
width: 246px;
height: 23px;
margin-left: 11px;
margin-top: 25px;
 align-items: center;
padding: 0;
text-align: left;
font-family: 'Inter', sans-serif;
font-weight: 900;
font-size: 24px;
line-height: 29px;
color: #000000;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}

.card__like-button{
position: absolute;
width: 21px;
height: 19px;
padding: 0;
right: 18px;
bottom: 30px;
border: none;
background: transparent;
}

.elements__black-button{
position: absolute;
width: 21px;
height: 19px;
padding: 0;
right: 18px;
bottom: 30px;
border: none;
background: transparent;
}

.elements__button-hidden{
display: none;
}

.card__delete-button{
position: absolute;
width: 18px;
height: 19px;
padding: 0;
right: 15px;
top: 18px;
border: none;
background: transparent;
}



@media screen and (max-width: 880px){

.cards__list{
width: 581px;
margin-left: auto;
margin-right: auto;
margin-top: 36px;
display: grid;
align-items: center;
grid-template-rows: repeat(3, 1fr);
grid-template-columns: repeat(2, 1fr);
gap: 20px;
justify-content: center;
}

.card{
width: 282px;
height: 361px;
padding: 0;
position: relative;
justify-content: flex-start;
align-items: flex-start;
}

}

@media screen and (max-width: 600px){

.cards__list{
width: 284px;
margin-left: auto;
margin-right: auto;
grid-template-rows: repeat(6, 1fr);
grid-template-columns: repeat(1, 1fr);
gap: 20px;
justify-content: center;
}


}



